.navbar-1 {
  height: 56px;
  width: 100vw;
  background: #2874f0;
  color: #f0f0f0;
  display: flex;
  align-items: center; }
  .navbar-1__margin {
    height: 100%;
    min-width: 124px; }
  .navbar-1__content {
    max-width: 1248px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center; }
    .navbar-1__content__logosection {
      min-width: 137px;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .navbar-1__content__logosection__logo {
        height: 20px;
        width: 75px; }
    .navbar-1__content__formsection {
      height: 100%;
      min-width: 304px;
      margin: 0 auto 0 12px;
      width: calc(100% - 564px);
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .navbar-1__content__formsection__form {
        display: inline-block;
        width: 100%;
        max-width: 564px;
        height: 36px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
        position: relative; }
        .navbar-1__content__formsection__form__inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 2px;
          background: #fff; }
          .navbar-1__content__formsection__form__inner__input {
            padding: 0 16px;
            border: 0;
            outline: none;
            height: 36px;
            width: 100%; }
          .navbar-1__content__formsection__form__inner__button {
            border: 1px solid #fff;
            background-color: #fff;
            height: 36px;
            width: 44px;
            border-radius: 2px;
            cursor: pointer;
            padding: 4px 12px 0 8px;
            font-size: 17px;
            color: #2874f0;
            outline: none; }
    .navbar-1__content__Accountsection {
      flex: 0 0 auto;
      margin: 0 0rem 0 4rem;
      max-width: 150px; }
      .navbar-1__content__Accountsection__Account__myAccount {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #fff;
        cursor: pointer; }
    .navbar-1__content__MoreSection {
      flex: 0 0 auto;
      margin: 0 1rem 0 2rem; }
      .navbar-1__content__MoreSection__More__myMore {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #fff;
        cursor: pointer; }
    .navbar-1__content__MyCartSection {
      flex: 0 0 auto;
      margin: 0 4rem 0 2rem; }
      .navbar-1__content__MyCartSection__Cart {
        height: 100%;
        width: 62px; }
        .navbar-1__content__MyCartSection__Cart__myCart {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: flex-start;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.1px;
          color: #fff;
          cursor: pointer; }
          .navbar-1__content__MyCartSection__Cart__myCart__icon {
            display: inline-block;
            position: relative; }
            .navbar-1__content__MyCartSection__Cart__myCart__icon .icon {
              display: inline-block;
              stroke-width: 0;
              stroke: currentColor;
              fill: currentColor; }
            .navbar-1__content__MyCartSection__Cart__myCart__icon__notifications {
              position: absolute;
              width: 18px;
              height: 18px;
              border-radius: 40%;
              background: red;
              z-index: 7;
              margin: -35px 0 0 7px;
              font-size: 15px;
              text-align: center;
              border: 1px solid #fff; }
  .navbar-1__margin1 {
    height: 100%;
    min-width: 124px; }

.navbar-2 {
  min-height: 40px;
  width: 100vw;
  color: black;
  text-align: center; }
  .navbar-2__menu {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1248px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: left;
    white-space: nowrap;
    font-weight: 600; }
    .navbar-2__menu li {
      list-style: none; }
    .navbar-2__menu li > * {
      padding: 12px 10px 9px;
      font-weight: 600;
      display: block;
      cursor: pointer;
      position: relative;
      color: #212121; }

.content {
  width: 100vw;
  min-height: 100vh;
  background: #f37160;
  color: #242424;
  display: flex; }
  .content .sidebar {
    flex: 0 0 280px;
    max-width: 280px;
    padding: 10px 10px 0px 10px;
    flex-flow: column;
    background: whitesmoke; }
    .content .sidebar__associate {
      position: relative;
      background: #fff;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06); }
      .content .sidebar__associate__content__1 {
        padding-bottom: 12px;
        padding: 16px;
        border-bottom: 1px solid #f0f0f0; }
        .content .sidebar__associate__content__1__filters {
          font-size: 18px;
          text-transform: capitalize;
          width: 67%;
          color: #242424; }
      .content .sidebar__associate__content__2 {
        font-size: 14px;
        padding: 16px;
        border-bottom: 1px solid #f0f0f0; }
        .content .sidebar__associate__content__2__categories {
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          color: #212121;
          margin-bottom: 5px; }
        .content .sidebar__associate__content__2__categories1__items {
          padding: 5px 0;
          color: #212121;
          white-space: nowrap; }
          .content .sidebar__associate__content__2__categories1__items span.icon {
            display: inline-block;
            stroke-width: 0;
            stroke: currentColor;
            fill: currentColor; }
          .content .sidebar__associate__content__2__categories1__items a {
            color: #212121;
            text-decoration: none; }
        .content .sidebar__associate__content__2__categories2__items {
          padding: 5px 0;
          color: #212121;
          white-space: nowrap; }
          .content .sidebar__associate__content__2__categories2__items span.icon {
            display: inline-block;
            stroke-width: 0;
            stroke: currentColor;
            fill: currentColor; }
          .content .sidebar__associate__content__2__categories2__items a {
            color: #212121;
            text-decoration: none; }

.recommend {
  height: 10vh;
  width: 100vw;
  background: #ff2f90;
  color: #00ffd5; }

.footer {
  height: 10vh;
  width: 100vw;
  background: #bce47c;
  color: #7bff00; }

html,
body {
  height: 100vh;
  width: 100vw; }

body {
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.container {
  min-height: 100vh;
  width: 100vw;
  font-size: 14px;
  font-family: "Roboto, Arial, sans-serif";
  display: flex;
  flex-direction: column; }
