@import "./mixins";
@import "./main-mixin";
.content {
  width: 100vw;
  min-height: 100vh;
  background: whitesmoke;
  color: #242424;
  display: flex;
  .sidebar {
    flex: 0 0 280px;
    max-width: 280px;
    padding: 10px 10px 0px 10px;
    flex-flow: column;
    background: whitesmoke;
    &__associate {
      position: relative;
      background: #fff;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06);
      &__content {
        max-width: 280px;
        &__1 {
          padding-bottom: 12px;
          padding: 16px;
          border-bottom: 1px solid #f0f0f0;

          &__filters {
            font-size: 18px;
            font-weight: 500;
            text-transform: capitalize;
            width: 67%;
            color: #242424;
            letter-spacing: 0.3px;
          }
        }
        &__2 {
          font-size: 16px;
          padding: 16px;
          border-bottom: 1px solid #f0f0f0;

          &__categories {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            color: #212121;
            margin-bottom: 5px;
          }

          &__categories1 {
            &__items {
              padding: 5px 0;
              color: #878787;
              white-space: nowrap;
              span.icon {
                display: inline-block;
                stroke-width: 0;
                stroke: currentColor;
                fill: currentColor;
              }
              a {
                color: #212121;
                text-decoration: none;
              }
            }
          }
          &__categories2 {
            &__items {
              padding: 5px 0;
              color: #878787;
              white-space: nowrap;
              span.icon {
                display: inline-block;
                stroke-width: 0;
                stroke: currentColor;
                fill: currentColor;
              }
              a {
                color: #212121;
                text-decoration: none;
              }
            }
          }

          &__categories3 {
            &__items {
              padding: 5px 0;
              color: #212121;
              white-space: nowrap;

              span.icon {
                display: inline-block;
                stroke-width: 0;
                stroke: currentColor;
                fill: currentColor;
              }
              a {
                color: #212121;
                text-decoration: none;
                font-weight: bold;
              }
            }
          }
        }
        &__3 {
          padding: 16px;
          border-bottom: 1px solid #f0f0f0;
          &__price {
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.3px;
            display: inline-block;
          }
          &__mapsection {
            height: 29px;
            letter-spacing: -3.5px;
            margin: 0;
            padding: 0;
            padding-top: 5px;
            &__map {
              height: 100%;
              position: relative;
              bottom: -6px;
            }
            &__map > * {
              background: #e0e0e0;
              display: inline-block;
            }
          }
          &__range {
            height: 13px;
            position: relative;
            cursor: pointer;

            &__circlesection1 {
              @include circlesection(-13.5px, 0px);
              &__circle {
                @include circle;
              }
            }
            &__circlesection2 {
              @include circlesection(0, -5.5px);
              &__circle {
                @include circle;
                background: yellow;
              }
            }
            &__line1 {
              background: #c2c2c2;
              height: 2px;
              position: absolute;
              display: inline-block;
              top: 6px;
              width: 100%;
            }

            &__line2 {
              background: #2874f0;
              // transform-origin: left center;
              top: 4px;
              height: 6px;
              display: inline-block;
              position: absolute;
              width: 100%;
            }
          }

          &__limit {
            color: #a3a3a3;
            font-size: 14px;
            margin: 30px -4px 0;
            display: flex;
            justify-content: stretch;
            &__box1 {
              display: inline-block;
              flex-grow: 2;

              &__min {
                @include rangebox;
              }
            }
            &__to {
              display: inline-block;
              margin: 3px 9px;
              font-size: 20px;
              color: #878787;
              line-height: 1;
              flex: 1;
              text-align: center;
            }
            &__box2 {
              display: inline-block;
              flex-grow: 2;
              margin-left: 1.5px;
              &__min {
                @include rangebox;
              }
            }
          }
        }
        &__4 {
          display: flex;
          justify-content: space-between;
          padding: 16px;
          border-bottom: 1px solid #f0f0f0;
          cursor: pointer;
          width: 100%;
          box-sizing: border-box;
          position: relative;
          &__assuredsection {
            width: 100%;
            box-sizing: border-box;
            label {
              display: flex;
            }
            .inputBox {
              @include input;
            }
            .inputBox1 {
              @include divcheckbox;
            }

            .inputBox1:before {
              @include divcheckboxbefore;
            }
            .inputBox[type="checkbox"]:checked + .inputBox1 {
              background: #2874f0;
              border: 1.4px solid#2874f0;
            }
            .assuredlogo {
              @include brandtag;
            }
          }

          &__help {
            &__question {
              border-radius: 50%;
              background: #fff;
              color: #878787;
              font-weight: 600;
              width: 18px;
              height: 18px;
              font-size: 11px;
              line-height: 16px;
              text-align: center;
              display: inline-block;
              border: 1px solid #e0e0e0;
              box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
              vertical-align: middle;
              margin: 0 2px 0 8px;
              cursor: pointer;
            }
          }
        }
        &__5,
        &__6,
        &__7,
        &__8,
        &__9,
        &__10,
        &__11,
        &__12,
        &__13 {
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          border-bottom: 1px solid #f0f0f0;

          &__titlesection {
            width: 90%;
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            margin: -16px;
            padding: 16px;
            &__title {
              padding-bottom: 10px;
              font-size: 13px;
              font-weight: 600;
              text-transform: uppercase;
              letter-spacing: 0.3px;
              display: inline-block;
              width: 95%;
              cursor: pointer;
            }
            .icon {
              display: inline-block;
              stroke-width: 0;
              stroke: currentColor;
              fill: currentColor;
            }
          }
          &__contentsection {
            &__content {
              margin: 7px 0;
              box-sizing: content-box;
              padding-top: 20px;

              &__1 {
                margin-bottom: 20px;
                position: relative;
                &__input {
                  width: 90%;
                  border-width: 0 0 2px;
                  border-color: #e0e0e0;
                  height: 20px;
                  font-size: 14px;
                  padding: 0 0 0 21px;
                  color: red;
                  outline: none;
                }
                .icon {
                  position: absolute;
                  z-index: 1;
                }
              }
              &__2,
              &__3,
              &__4,
              &__5,
              &__6,
              &__7,
              &__8 {
                @include sidebar_checkbox_brand_section;
              }
            }
            &__more {
              font-size: 14px;
              font-weight: 700;
              color: #2874f0;
              text-transform: uppercase;
              cursor: pointer;
              margin-top: 9px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
  .main {
    flex-grow: 1;
    overflow: auto;
    flex-flow: column;
    display: flex;
    padding: 10px;

    .propertiessection {
      align-items: center;
      display: flex;
      flex-flow: row;
      width: 100%;
      background: #fff;
      &__property {
        flex-grow: 1;
        overflow: auto;

        &__items {
          background: #fff;
          padding: 12px 16px 0;
          border-bottom: 1px solid hsl(0, 0%, 94%);
          height: 100%;
          min-height: 72px;
          &__1 {
            box-sizing: border-box;
            display: flex;
            flex-flow: row;
            &__Home {
              .home {
                @include pathnav;
              }
            }
            &__BagsWallet {
              .Bags_Back {
                @include pathnav;
              }
            }
            &__Bags {
              .Bags {
                @include pathnav;
              }
            }
          }
          &__2 {
            font-size: 16px;
            font-weight: 600;
            margin-top: 8px;
            display: inline-block;
          }
          &__3 {
            display: flex;
            align-content: center;
          }
          &__3 > * {
            border-bottom: 2px solid transparent;
            display: inline-block;
            font-size: 500;
            padding: 8px 10px 4px 0;
          }
        }
      }
      &__location {
        flex: 0 0 300px;
        max-width: 275px;
        background: #fff;
        border-bottom: 1px solid #f0f0f0;
        position: relative;
        padding: 28px 10px 0 0;
        &__delivery {
          color: #878787;
          font-weight: 500;
          font-size: 12px;
        }
        &__input {
          z-index: 4;
          position: relative;
          border-radius: 2px;
          padding: 0 0 4px;
          border: none;
          border-bottom: 2px solid #2874f0;
          font-weight: 500;
          display: flex;
          align-items: center;
          svg {
            vertical-align: middle;
            margin-right: 6px;
            fill: #2874f0;
          }
          &__form {
            display: inline-block;
            line-height: 25px;
            input {
              font-weight: 500;
              font-size: 14px;
              border: none;
              outline: none;
              padding: 6px;
              vertical-align: middle;
              width: 110px !important;
            }
          }
          &__change {
            font-weight: 500;
            cursor: pointer;
            font-size: 14px;
            color: #2874f0;
            margin-left: auto;
            position: relative;
          }
        }
      }
    }
    .itemsrow__firstrow,
    .itemsrow__secondrow,
    .itemsrow__thirdrow {
      align-content: center;
      width: 100%;
      background: #fff;
      max-height: fit-content;
      &__items {
        display: flex;
        flex-flow: row;
        width: 100%;
        &__firstitem,
        &__seconditem,
        &__thirditem,
        &__fourthitem {
          @include card;
        }
        &__firstitem:hover,
        &__seconditem:hover,
        &__thirditem:hover,
        &__fourthitem:hover {
          box-shadow: 0.5px 0.5px 5px 10px whitesmoke;
        }
      }
    }
    .itemsrow__secondrow {
      z-index: inherit 100;
    }
    .itemsrow__3 {
    }
    .itemsrow__4 {
    }
  }
}
