@import "./mixins";
.content {
  width: 100vw;
  min-height: 100vh;
  background: rgb(243, 113, 96);
  color: #242424;
  display: flex;
  .sidebar {
    flex: 0 0 280px;
    max-width: 280px;
    padding: 10px 10px 0px 10px;
    flex-flow: column;
    background: whitesmoke;
    &__associate {
      position: relative;
      background: #fff;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06);
      &__content {
        &__1 {
          padding-bottom: 12px;
          padding: 16px;
          border-bottom: 1px solid #f0f0f0;

          &__filters {
            font-size: 18px;
            font-weight: 500;
            text-transform: capitalize;
            width: 67%;
            color: #242424;
            letter-spacing: 0.3px;
          }
        }
        &__2 {
          font-size: 16px;
          padding: 16px;
          border-bottom: 1px solid #f0f0f0;

          &__categories {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            color: #212121;
            margin-bottom: 5px;
          }

          &__categories1 {
            &__items {
              padding: 5px 0;
              color: #878787;
              white-space: nowrap;
              span.icon {
                display: inline-block;
                stroke-width: 0;
                stroke: currentColor;
                fill: currentColor;
              }
              a {
                color: #212121;
                text-decoration: none;
              }
            }
          }
          &__categories2 {
            &__items {
              padding: 5px 0;
              color: #878787;
              white-space: nowrap;
              span.icon {
                display: inline-block;
                stroke-width: 0;
                stroke: currentColor;
                fill: currentColor;
              }
              a {
                color: #212121;
                text-decoration: none;
              }
            }
          }

          &__categories3 {
            &__items {
              padding: 5px 0;
              color: #212121;
              white-space: nowrap;

              span.icon {
                display: inline-block;
                stroke-width: 0;
                stroke: currentColor;
                fill: currentColor;
              }
              a {
                color: #212121;
                text-decoration: none;
                font-weight: bold;
              }
            }
          }
        }
        &__3 {
          padding: 16px;
          border-bottom: 1px solid #f0f0f0;
          &__price {
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.3px;
            display: inline-block;
          }
          &__mapsection {
            height: 29px;
            letter-spacing: -3.5px;
            margin: 0;
            padding: 0;
            padding-top: 5px;
            &__map {
              height: 100%;
              position: relative;
              bottom: -6px;
            }
            &__map > * {
              background: #e0e0e0;
              display: inline-block;
            }
          }
          &__range {
            height: 13px;
            position: relative;
            cursor: pointer;

            &__circlesection1 {
              @include circlesection(-13.5px, 0px);
              &__circle {
                @include circle;
              }
            }
            &__circlesection2 {
              @include circlesection(0, -5.5px);
              &__circle {
                @include circle;
                background: yellow;
              }
            }
            &__line1 {
              background: #c2c2c2;
              height: 2px;
              position: absolute;
              display: inline-block;
              top: 6px;
              width: 100%;
            }

            &__line2 {
              background: #2874f0;
              // transform-origin: left center;
              top: 4px;
              height: 6px;
              display: inline-block;
              position: absolute;
              width: 100%;
            }
          }

          &__limit {
            color: #a3a3a3;
            font-size: 14px;
            margin: 30px -4px 0;
            display: flex;
            justify-content: stretch;
            &__box1 {
              display: inline-block;
              flex-grow: 2;

              &__min {
                @include rangebox;
              }
            }
            &__to {
              display: inline-block;
              margin: 3px 9px;
              font-size: 20px;
              color: #878787;
              line-height: 1;
              flex: 1;
              text-align: center;
            }
            &__box2 {
              display: inline-block;
              flex-grow: 2;
              margin-left: 1.5px;
              &__min {
                @include rangebox;
              }
            }
          }
        }
      }
    }
  }
}
