.navbar-1 {
  height: 56px;
  width: 100vw;
  background: #2874f0;
  color: #f0f0f0;
  display: flex;
  align-items: center;

  &__margin {
    height: 100%;
    min-width: 9.25vw;
  }

  &__content {
    height: 100%;
    max-width: 115vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__logosection {
      max-width: 12.6vw;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      &__logo {
        height: 20px;
        width: 75px;
      }
    }
    &__formsection {
      max-width: 53.3vw;
      height: 100%;
      display: flex;
      align-items: center;
      &__form {
        width: 564px;
        &__input {
          padding: 0 16px;
          border-radius: 2px 0 0 2px;
          border: 0;
          outline: none;
          height: 36px;
          width: 100%;
        }
      }
    }

    &__Account {
      max-width: 150px;
      height: 100%;
    }

    &__More {
      width: 50px;
    }

    &__MyCart {
      width: 62px;
    }
  }

  &__margin1 {
    height: 100%;
    min-width: 9.25vw;
  }
}
