//for nav--1

@mixin lisectionfornav {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #fff;
  cursor: pointer;
}

@mixin circle {
  right: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #bababa;
  position: absolute;
  background: #fff;
  top: 3.5px;
}

@mixin circlesection($left, $right) {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: -3.5px;
  // background: #fff;

  @if $left == 0 or $right > 0 {
    right: $right;
  } @else {
    left: $left;
  }
}

@mixin rangebox {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 1px;
  background: #fff;
  height: 33px;
  font-size: 14px;
  color: #212121;
  line-height: 1;
  padding: 0 5px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  background: #fff url("../images/cheveron-down.svg") no-repeat 90% 50%;
}

@mixin icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

@mixin input {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: top !important;
  cursor: pointer;
}

@mixin divcheckbox {
  position: relative;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 1.4px solid #c2c2c2;
  border-radius: 1.5px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

@mixin divcheckboxbefore {
  position: absolute;
  content: "";
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  backface-visibility: hidden;
  // display: none;
  cursor: pointer;
}

@mixin brandtag {
  padding-left: 0 10px;
  font-size: 16px;
  padding-left: 11px;
  display: inline-block;
  width: calc(100%-25px);
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  cursor: pointer;
  font-weight: 500;
}

@mixin sidebar_checkbox_brand_section {
  padding-bottom: 18px;
  margin-top: 10px;

  &__brandsection {
    width: 100%;
    box-sizing: border-box;
    position: relative;

    label {
      display: flex;
      position: absolute;

      .inputBox {
        @include input;
      }
      .divcheckbox {
        @include divcheckbox;
      }
      .divcheckbox:before {
        @include divcheckboxbefore;
      }
      .inputBox[type="checkbox"]:checked + .divcheckbox {
        background: #2874f0;
        border: 1.4px solid#2874f0;
      }
      .brand {
        @include brandtag;
      }
    }
  }
}
